    <section>
        <div class="container mt-5">
            <div class="row">
                {{!-- {{#each}} --}}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://imgs.search.brave.com/-_dRwjjaYtkcuKCS9HlXSCuV4utIBuhAoZfJiqHbjsM/rs:fit:713:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4z/SUxiUnlQMERSRlhY/anNVNXpISmpnSGFF/NyZwaWQ9QXBp"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                {{!-- {{/each}} --}}
            </div>
        </div>
    </section>